<!DOCTYPE html>
<html lang="en">
<head>
    <title>Products</title>
</head>
<body>
    <main>
        {% if item %}
        <table>
            <tr>
                <th>Name</th>
                <td>{{ item.name }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ item.category }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ item.price }}</td>
            </tr>
        </table>
        {% else %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %} 
    </main>
</body>
</html>